In [1]:
def coef_linear_reg(first,second):
   reg=linear_model.LinearRegression()
   reg.fit(first,second)
   return reg.coef_

In [2]:
def intercept_linear_reg(first,second):
   reg=linear_model.LinearRegression()
   reg.fit(first,second)
   return reg.intercept_

In [3]:
def predict_linear_reg(first,second,val):
   reg=linear_model.LinearRegression()
   reg.fit(first,second)
   return reg.predict(val)

In [4]:
import pandas as pd
import numpy as np
from sklearn import linear_model
df=pd.read_csv("train.csv")

In [5]:
df.head()

,prov_id,area_id,user_id,chnl_type,service_type,product_type,innet_months,total_times,total_flux,total_fee,...,active_days20,active_days21,active_days22,active_days23,game_app_flux,live_app_flux,video_app_flux,city_5g_ratio,city_level,is_5g
0,81,V0513400,5f950e1751acd6a6fa9bf88eb5560c78,7,4,5,29,1.149441,10.864754,93.000,...,4.0,2.0,0.0,0.0,0.0,0.00000,5526.494937,0.000512,7.0,1.0
1,36,V0330200,40015dd14b779d1d3d4e8e2536c6115a,7,4,3,5,0.688337,6.814911,89.912,...,2.0,2.0,0.0,0.0,0.0,0.00000,0.000000,0.000356,3.0,0.0
2,76,V0410100,72f4ddd94488cc2f30bc83b82f55d3eb,7,4,4,104,1.102318,9.492543,62.670,...,0.0,3.0,0.0,0.0,0.0,0.00000,1235.091633,0.000490,3.0,0.0
3,84,V0610100,845983a3e7973b0016c73071f4c70c1c,10,4,5,15,0.122139,5.008418,75.798,...,4.0,4.0,0.0,0.0,0.0,9.13548,1194.355876,0.000328,2.0,0.0
4,85,V0520100,0326fbd12145c5378baf5168a8e9c8fe,7,4,3,21,0.158738,9.745640,54.500,...,20.0,0.0,6.0,1.0,0.0,0.00000,26.783371,0.000830,6.0,0.0

In [6]:
df1=df[['prov_id','product_type','total_fee','city_level']].head()
df1.head()

   prov_id  product_type  total_fee  city_level
0       81             5     93.000         7.0
1       36             3     89.912         3.0
2       76             4     62.670         3.0
3       84             5     75.798         2.0
4       85             3     54.500         6.0

In [7]:
coef_linear_reg(df1[['prov_id','product_type','city_level']],df1.total_fee)

array([-0.95289994, 16.57839933,  3.53147533])

In [8]:
intercept_linear_reg(df1[['prov_id','product_type','city_level']],df1.total_fee)

63.02016185666438

In [9]:
predict_linear_reg(df1[['prov_id','product_type','city_level']],df1.total_fee,[[70,3,4.0]])

array([60.17826546])

In [10]:
70*-0.95289994+3*16.57839933+4.0*3.53147533+63.02016185666438

60.17826536666439

In [11]:
def equation_cal(first,second,var):
    coef=coef_linear_reg(first,second)
    intercept=intercept_linear_reg(first,second)
    predict=predict_linear_reg(first,second,var)
    coef_len=len(coef)
    mx=0
    for i in range (0,coef_len):
        temp=coef[i]*var[0][i]
        mx=mx+temp
    eq="y("+str(predict[0])+")=mx("+str(mx)+")+b("+str(intercept)+")"
    return eq

In [12]:
equation_cal(df1[['prov_id','product_type','city_level']],df1.total_fee,[[70,3,4.0]])

'y(60.1782654592403)=mx(-2.841896397424078)+b(63.02016185666438)'

In [13]:
-2.841896397424078+63.02016185666438

60.1782654592403