In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
df=pd.read_csv("train.csv")

In [2]:
df.head()

,prov_id,area_id,user_id,chnl_type,service_type,product_type,innet_months,total_times,total_flux,total_fee,...,active_days20,active_days21,active_days22,active_days23,game_app_flux,live_app_flux,video_app_flux,city_5g_ratio,city_level,is_5g
0,81,V0513400,5f950e1751acd6a6fa9bf88eb5560c78,7,4,5,29,1.149441,10.864754,93.000,...,4.0,2.0,0.0,0.0,0.0,0.00000,5526.494937,0.000512,7.0,1.0
1,36,V0330200,40015dd14b779d1d3d4e8e2536c6115a,7,4,3,5,0.688337,6.814911,89.912,...,2.0,2.0,0.0,0.0,0.0,0.00000,0.000000,0.000356,3.0,0.0
2,76,V0410100,72f4ddd94488cc2f30bc83b82f55d3eb,7,4,4,104,1.102318,9.492543,62.670,...,0.0,3.0,0.0,0.0,0.0,0.00000,1235.091633,0.000490,3.0,0.0
3,84,V0610100,845983a3e7973b0016c73071f4c70c1c,10,4,5,15,0.122139,5.008418,75.798,...,4.0,4.0,0.0,0.0,0.0,9.13548,1194.355876,0.000328,2.0,0.0
4,85,V0520100,0326fbd12145c5378baf5168a8e9c8fe,7,4,3,21,0.158738,9.745640,54.500,...,20.0,0.0,6.0,1.0,0.0,0.00000,26.783371,0.000830,6.0,0.0

In [3]:
def score_decision_tree(first,second):
   model1=tree.DecisionTreeClassifier()
   model1.fit(first,second)
   return model1.score(first,second)

In [4]:
def predict_decision_tree(first,second,val):
   model1=tree.DecisionTreeClassifier()
   model1.fit(first,second)
   return model1.predict(val)

In [21]:
df2=df[['chnl_type','service_type','product_type','is_5g']]
df2.head()

   chnl_type  service_type  product_type  is_5g
0          7             4             5    1.0
1          7             4             3    0.0
2          7             4             4    0.0
3         10             4             5    0.0
4          7             4             3    0.0

In [6]:
inputs=df2.drop('is_5g',axis='columns')
target=df2['is_5g']

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le_chnl_type=LabelEncoder()
le_service_type=LabelEncoder()
le_product_type=LabelEncoder()

In [9]:
inputs['chnl_type_n']=LabelEncoder().fit_transform(inputs['chnl_type'])
inputs['service_type_n']=LabelEncoder().fit_transform(inputs['service_type'])
inputs['product_type_n']=LabelEncoder().fit_transform(inputs['product_type'])
inputs

,chnl_type,service_type,product_type,chnl_type_n,service_type_n,product_type_n
0,7,4,5,6,3,3
1,7,4,3,6,3,1
2,7,4,4,6,3,2
3,10,4,5,9,3,3
4,7,4,3,6,3,1
5,7,4,3,6,3,1
6,9,4,3,8,3,1
7,4,4,5,3,3,3
8,1,4,5,0,3,3
9,7,4,3,6,3,1
10,3,4,5,2,3,3
11,4,4,3,3,3,1
12,10,1,5,9,0,3
13,9,4,3,8,3,1
14,9,4,3,8,3,1
15,7,4,2,6,3,0
16,7,3,5,6,2,3
17,7,1,6,6,0,4
18,7,4,6,6,3,4
19,7,4,3,6,3,1
20,6,4,5,5,3,3
21,7,4,5,6,3,3
22,7,4,5,6,3,3
23,7,4,2,6,3,0
24,9,4,3,8,3,1
25,9,4,3,8,3,1
26,9,4,3,8,3,1
27,7,4,3,6,3,1
28,10,4,5,9,3,3
29,9,4,4,8,3,2
...,...,...,...,...,...,...
699970,10,2,5,9,1,3
699971,1,4,5,0,3,3
699972,7,4,2,6,3,0
699973,9,4,3,8,3,1
699974,9,4,6,8,3,4
699975,9,4,3,8,3,1
699976,3,4,5,2,3,3
699977,7,4,3,6,3,1
699978,7,4,5,6,3,3
699979,3,4,3,2,3,1
699980,9,4,2,8,3,0
699981,7,4,4,6,3,2
699982,9,4,3,8,3,1
699983,7,4,3,6,3,1
699984,10,4,5,9,3,3
699985,10,4,2,9,3,0
699986,7,4,3,6,3,1
699987,9,4,3,8,3,1
699988,6,4,5,5,3,3
699989,9,4,3,8,3,1
699990,7,4,5,6,3,3
699991,9,4,3,8,3,1
699992,7,4,6,6,3,4
699993,7,4,4,6,3,2
699994,7,4,5,6,3,3
699995,7,4,5,6,3,3
699996,7,4,6,6,3,4
699997,10,4,2,9,3,0
699998,10,4,2,9,3,0
699999,1,4,5,0,3,3

In [10]:
inputs_n=inputs.drop(['chnl_type','service_type','product_type'],axis='columns')
inputs_n.head()

   chnl_type_n  service_type_n  product_type_n
0            6               3               3
1            6               3               1
2            6               3               2
3            9               3               3
4            6               3               1

In [11]:
from sklearn import tree

In [12]:
score_decision_tree(inputs_n,target)

0.9867542857142857

In [17]:
predict_decision_tree(inputs_n,target,[[9,3,3]])

array([0.])

In [14]:
inputs=df2.drop('is_5g',axis='columns')
target=df2['is_5g']

In [15]:
def decesionTreeCalculation(inp,target,pred):
    from sklearn.preprocessing import LabelEncoder
    from sklearn import tree
    input_size=len(inp.columns)
    resultant_df=pd.DataFrame()
    for i in range(0,input_size):
        resultant_df[list(inp.columns)[i]]=LabelEncoder().fit_transform(inp[list(inp.columns)[i]])
    model=tree.DecisionTreeClassifier()
    model.fit(resultant_df,target)
    return ["Score: "+str(model.score(resultant_df,target)),"Predicted Value: "+str(model.predict(pred))]

In [22]:
decesionTreeCalculation(inputs,target,[[6,3,2]])

['Score: 0.9867542857142857', 'Predicted Value: [0.]']